.login-form {
  max-width: 400px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.password {
  margin-top: 10px
}

.login-button {
  margin-top: 20px
}